{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="page-wrapper">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
<div class="row">
                    <div class="col-lg-12">
<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
</div>
</div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}