{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="page-wrapper">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"></h1>
                    </div>
</div>
<div class="row">
<div class="col-lg-10">
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
</form>
</div>
</div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}