
{% extends "base2.html" %}
{% load i18n %}

 <div id="content">
    {% block content %}
     {% if user.is_authenticated %}
        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cube fa-fw"></i> MobileScore Intel<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'orders' %}"><i class="fa fa-first-order fa-fw"></i>Orders</a>
                            </li>
                        
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'bulk' %}"><i class="fa fa-archive fa-fw"></i>Bulk Files</a>
                            </li>
                        
                        <ul class="nav nav-second-level">
                            
                            <li>
                                <a href="{% url 'purchase' %}"><i class="fa fa-shopping-cart fa-fw"></i>Purchase Credits</a>
                            </li>
                            

                    </li>


            </div>
        </div>
<!--Sidebar End-->

<div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                    
                        <h1 class="page-header">Purchase Credits</h1>
                    
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Credits Calculator
                            </div>

                            <div class="panel-body">
                                {% for price in prices %}

                                    <form role="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label>Price per Credit (Ksh.)</label>
                                                    <input class="form-control" id="priceInput" type="text" value="{{ price.unit_price }}" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label>VAT (%)</label>
                                                    <input class="form-control" id="taxInput" type="text" value="{{ price.tax_rate }}" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label>Credits To Buy</label>
                                                    <input class="form-control" id="numberInput" type="text" placeholder="Enter No. of Credits to Buy" value="">
                                                    <span id="errmsg"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Total</label>
                                                    <input class="form-control" id="totalInput" type="text" placeholder="Total Amount" value="" disabled>
                                                </div>
                                                

                                                <label>Payment Methods</label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="mpesa" checked>M-PESA
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="card">Card
                                                </label>
                                                <br>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#payModal">Buy Now</button>
                                            </fieldset>
                                    </form>

                                {% endfor %}
                            
                            </div>
                        </div>
                    </div>
                </div>
</div>
<!-- /#page-wrapper -->

            <!-- Modal -->
            <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="payModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
</div>
            {% else %}
  <div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Welcome To MobileScore Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
        {% endif %}



    {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}

    {% block scripts %}
    {{ block.super }}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
            
            $(document).ready(function() {

                //SET CSRF Token for all ajax calls
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie != '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                // Only send the token to relative URLs i.e. locally.
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                            }
                        }
                    }
                });

                //Focus cursor
                $("#numberInput").focus();
                //Integers Validation
                $("#numberInput").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                        $("#errmsg").html("Integers Only").show().fadeOut(2000);
                        return false;
                    }
                });

                //Credits Calculator
                var quantity=$("#numberInput");
                quantity.on('keyup',function(){
                    var total=isNaN(parseFloat(quantity.val()* $("#priceInput").val())) ? 0 :(1+ parseFloat($("#taxInput").val()/100))* parseFloat((quantity.val()* $("#priceInput").val()));
                    $("#totalInput").val(total.toFixed(2));
                });
                    
            });
    </script> 


    {% endblock %}