

{% extends "base.html" %}
{% load i18n %}
{% load humanize %}


 <div id="content">
    {% block content %}
     {% if user.is_authenticated %}
        <!-- Sidebar -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'index' %}" class="active"><i class="fa fa-home fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-fw"></i> BIRS<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'transactions' %}"><i class="fa fa-book fa-fw"></i>Transactions</a>
                            </li>
    
                    </li>

            </div>
        </div>
<!--Sidebar End-->

    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Transactions</h1>
                         
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> New Transaction</button>
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#upModal"><i class="glyphicon glyphicon-upload"></i> Upload File</button>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-transactions">
                                        <thead>
                                            <tr>
                                                <th>Payment Reference</th>
                                                <th>Transaction Date</th>                                           
                                                <th>Payment Method</th>
                                                <th>Mobile No</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Amount(KSH)</th>


                                           <!--        <th>Probability Default</th>  Added -->
                                            </tr>
                                        </thead>
                            
                                        <tbody>

                                            {% for transaction in transactions %}
                                            <tr class="{% cycle 'odd gradeA' 'even gradeA' %}">
                                                <td><a href="{% url 'detail' transaction.id %}">{{ transaction.payment_reference }}</a></td>
                                                <td>{{ transaction.transaction_date|date:'d-m-Y H:i:s' }}</td>
                                                <td>{{ transaction.payment_method }}</td>
                                                <td>{{ transaction.mobile_number }}</td>
                                                <td>{{ transaction.first_name }}</td>
                                                <td>{{ transaction.last_name }}</td>
                                                <td>{{ transaction.amount|intcomma }}</td>

                                        <!--       <td>{{ organization_order.mobile_number.probability_default }}</td>   Added -->
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- /.table-responsive -->
                                <div class="well">

                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <!-- /#page-wrapper -->


            <!-- myModal -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form method="post" action="." class="form-horizontal" role="form" id="receipt-form">
                    {% csrf_token %}
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Issue Receipt</h4>
                  </div>
                  
                <div class="modal-body">
                    
                    <div class="input-group">
                        {% for requester in organization_requester %}
                        <span class="input-group-addon" id="basic-addon1">Requester</span>
                        <input type="text" class="form-control" id="organization-requester-name" aria-describedby="basic-addon1" value="{{ requester.organization_name }}" disabled/>
                        <input type="hidden" class="form-control" id="organization-requester" value="{{ requester.id }}" name="organization"/>
                        {% endfor %}
                    </div>
                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Payment Method</span>
                        <select class="form-control" id="payment-method" name="payment_method" aria-describedby="basic-addon3">
                            <option value="BANK" selected>Bank</option>
                            <option value="CASH">Cash</option>
                            <option value="MPESA">M-Pesa</option>
                        </select>
                    </div>
                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Payment Reference</span>
                        <input type="text" class="form-control" placeholder="Transaction ID" id="payment-reference" name="payment_reference" aria-describedby="basic-addon2" value=""/>
                    </div>

                    <label class="text-danger" for="payment-reference" id="err_payment_reference" hidden>Payment Reference is required</label>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Mobile No.</span>
                        <input type="text" class="form-control" placeholder="2547XXXXXXXX" id="mobile-number" name="mobile_number" aria-describedby="basic-addon2" value=""/>
                    </div>
                    
                    <label class="text-danger" for="mobile-number" id="err_mobile_number" hidden>Enter a valid mobile number</label>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Invoice No</span>
                        <input type="text" class="form-control" placeholder="Invoice #" id="invoice-number" name="invoice_number" aria-describedby="basic-addon4" value=""/>
                    </div>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Account No</span>
                        <input type="text" class="form-control" placeholder="Account #" id="account-number" name="account_number" aria-describedby="basic-addon4" value=""/>
                    </div>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Amount</span>
                        <input type="text" class="form-control" placeholder="Amount" id="amount" name="amount" aria-describedby="basic-addon4" value=""/>
                    </div>

                    <label class="text-danger" for="amount" id="err_amount" hidden>Enter a valid amount</label>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">First Name</span>
                        <input type="text" class="form-control" placeholder="First Name" id="first-name" name="first_name" aria-describedby="basic-addon2" value=""/>
                    </div>

                    <label class="text-danger" for="first-name" id="err_first_name" hidden>First Name is required</label>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Middle Name</span>
                        <input type="text" class="form-control" placeholder="Middle Name" id="middle-name" name="middle_name" aria-describedby="basic-addon2" value=""/>
                    </div>

                    <br>                   
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Last Name</span>
                        <input type="text" class="form-control" placeholder="Last Name" id="last-name" name="last_name" aria-describedby="basic-addon2" value=""/>
                    </div>

                    <label class="text-danger" for="last-name" id="err_last_name" hidden>Last Name is required</label>
                        
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
                </div>
              </div>
            </div>

          

            <!--Modal-->
            <!-- upModal -->

            <div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="upModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form" id="upload-form">
                    {% csrf_token %}
                  <div class="modal-header">
                    <button type="submit" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="upModalLabel">Upload File</h4>
                  </div>
                  
                <div class="modal-body">

                    <div class="input-group">
                        {% for requester in organization_requester %}
                        <span class="input-group-addon" id="basic-addon1">Requester</span>
                        <input type="text" class="form-control" id="organization-requester-name" aria-describedby="basic-addon1" value="{{ requester.organization_name }}" disabled/>
                        <input type="hidden" class="form-control" id="id_document-organization" value="{{ requester.id }}" name="document-organization"/>
                        {% endfor %}
                    </div>
                    <br>                        
                     <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Browse File (csv)</span>
                        <input type="file" class="form-control" name="document-document" required id="id_document-document" aria-describedby="basic-addon10"/>
                        <label class="text-danger" for="id_document-document" hidden>Select a file to upload</label>
                        
                    </div>

                    <label class="text-danger" for="file-name" id="err_file_name" hidden>Only CSV Format allowed</label>

                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
                </form>
                </div>
              </div>
            </div>

            <!--Modal-->

    {% else %}
<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"></h1>
     </div>
     <!-- /.col-lg-12 -->
</div>
<div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                BIRS Portal
                            </div>
                            <div class="panel-body">
                                <p><h4>Welcome, Would you like to <a href="{% url 'auth_login' %}">Log In?</a> You can also request to be registered at <a href="mailto:info@quoxient.co.ke">info@quoxient.co.ke</a></h4></p>
                            </div>
                            
                        </div>
                    </div>
                </div>

</div>
       
        {% endif %}



    {% endblock %}

</div>
{% block footer %}
{% endblock %}
{% block scripts %}
    
    {{ block.super }}


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script type="text/javascript">
            
            $(document).ready(function() {

                //SET CSRF Token for all ajax calls
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie != '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                // Only send the token to relative URLs i.e. locally.
                                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                            }
                        }
                    }
                });

                //activates DataTable ordering by the second column (Order DateTime)
                $('#dataTables-transactions').DataTable({
                        "order": [[ 1, "desc" ]], responsive: true
                });
                //Global Variable label
                var label = [$('label[for="mobile-number"]'),$('label[for="amount"]'),$('label[for="payment-reference"]'),$('label[for="first-name"]'),$('label[for="last-name"]')];


                //POST the Order Form
                $('#receipt-form').on('submit', function(e) {
                    var form_data = $("#receipt-form").serializeArray();
                    var error_free = [true, true, true, true, true];
                    
                    for (var input in form_data){
                        var element=[$("#mobile-number"),$("#amount"),$("#payment-reference"),$("#first-name"),$("#last-name")];
                        var valid = [element[0].hasClass("valid"), element[1].hasClass("valid"), element[2].hasClass("valid"),element[3].hasClass("valid"),element[4].hasClass("valid")];

                        if (!valid[0]){
                            error_free[0] = false;
                        }
                        if (!valid[1]){
                            error_free[1] = false;
                        }
                        if (!valid[2]){
                            error_free[2] = false;
                        }
                        if (!valid[3]){
                            error_free[3] = false;
                        }
                        if (!valid[4]){
                            error_free[4] = false;
                        }
                    }

                    
                    if ((!error_free[0]) || (!error_free[1]) || (!error_free[2]) || (!error_free[3]) || (!error_free[4]) ){

                        if (!error_free[0]){
                            e.preventDefault();
                            label[0].show();
                        }
                        if(!error_free[1]){
                            e.preventDefault();
                            label[1].show();
                        }
                        if(!error_free[2]){
                            e.preventDefault();
                            label[2].show();
                        }
                        if(!error_free[3]){
                            e.preventDefault();
                            label[3].show();
                        }
                        if(!error_free[4]){
                            e.preventDefault();
                            label[4].show();
                        }    

                    }

                    else{
                        console.log("No errors");

                        e.preventDefault();
                        label[0].hide();
                        label[1].hide();
                        label[2].hide();
                        label[3].hide();
                        label[4].hide();

                        //Using accounting.min.js to format values if commas have been used in the amount field
                        document.getElementById("amount").value = accounting.unformat(document.getElementById("amount").value);

                        var form = $(this);

                        var datax = form.serialize();
                        console.log(datax);

                        $.ajax({
                            url: "{% url 'transaction' %}",
                            data: form.serialize(),
                            type: "POST",
                            dataType : "json",

                            success: function() {
                           //Clear the Modal

                                $('.modal').on('hidden.bs.modal', function(){
                                    $(this).find('form')[0].reset();
                                });
                                $('#myModal').modal('hide');
                                    console.log("Receipt Issued Successfully");
                                //Reload the Page
                                    document.location.reload(true);
                            },
                            error: function() {
                                console.log( "Sorry, there was a problem!");
                            }
                        });
                        json = '';
                        return false;
                    }

                });
                //Focus cursor
                $("#mobile-number").focus();
                //Validate the Mobile Number
                $('#mobile-number').on('input', function() {
                    var input=$(this);
                    var regex_mobile = /^2547[0-9]{8,8}$/;
                    var is_mobile=regex_mobile.test(input.val());
                    if(is_mobile){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                         label[0].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                }); 


                //Validate the Amount
                $('#amount').on('input', function() {
                    var input=$(this);
                    var regex_amount = /^[1-9]\d*(((,\d{3}){1})?(\.\d{0,2})?)$/;
                    var is_amount=regex_amount.test(input.val());
                    if(is_amount){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                        label[1].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                });


                $('#payment-reference').on('input', function() {
                    var input=$(this);
                    var regex_payment_reference=/^([A-Za-z0-9]{5,})$/;
                    var is_payment=regex_payment_reference.test(input.val());
                    if(is_payment){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                        label[2].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                });

                $('#first-name').on('input', function() {
                    var input=$(this);
                    var regex_first_name=/^([A-Za-z0-9]{2,})$/;
                    var is_fname=regex_first_name.test(input.val());
                    if(is_fname){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                        label[3].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                });

                $('#last-name').on('input', function() {
                    var input=$(this);
                    var regex_last_name=/^([A-Za-z0-9]{2,})$/;
                    var is_lname=regex_last_name.test(input.val());
                    if(is_lname){
                        input.removeClass("invalid").addClass("valid");
                        console.log("Valid");
                        label[4].hide();
                    }
                    else{
                        input.removeClass("valid").addClass("invalid");
                        console.log("Invalid");
                    }
                });



                //Upload File
                /*$('#upload-form').on('submit', function(event) {
                    event.preventDefault();
                    var data = new FormData($('upload-form').get(0));
                    $.ajax({
                        url: $(this).attr('action'),
                        type: $(this).attr('method'),
                        data: data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            console.log('success');
                        }
                    });
                    return false;
                });*/

});



            


    </script> 

    
    {% endblock %}


